@charset "utf-8";
/* CSS Document */
body {
	background: url(images/bg.jpg) no-repeat;
	background-size:cover;
}

.border {
	height: 100%;
	border-width: 30px 30px 30px 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-style: solid;
	border-color: #fff;
	-webkit-backface-visibility: hidden;
	box-sizing: border-box;
	background: rgba(56,7,112,0.9);
}

.bt-menu-open .bt-overlay {
	height: 100%;
}
.bt-overlay {
	position: absolute;
	width: 100%;
}
